<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      {% include 'partials/metadata.html.twig' %}

      <base href="{{ page.url(true, true) }}">

      <title>
        {% block title %}
          {% if header.title %}
            {{ header.title|e('html') }}
            |
          {% endif %}
          {{ site.title|e('html') }}
        {% endblock %}
      </title>
    {% endblock %}

    <link rel="canonical" href="{{ page.url(true, true) }}">

    {% block stylesheets %}
      {% do assets.addCss('theme://css/theme.css', 98) %}
      {% do assets.addCss('theme://css/vendor/highlight/github-dark-dimmed.min.css', 98) %}
    {% endblock %}
    {{ assets.css()|raw }}

    {% block feed %}{% endblock %}
  </head>
  <body>
    {% block header %}
      <nav class="navbar">
        <div class="container">
          <a href="{{ home_url }}" class="navbar-brand">
            {{ site.title|e }}
          </a>
        </div>
      </nav>
    {% endblock %}

    {% block body %}
      <div id="content-body" class="container">
        <div class="row justify-content-center mt-5">
          {% block content %}{% endblock %}
        </div>
      </div>
    {% endblock %}

    {% block footer %}
      <footer id="footer" class="container text-center">
        {% include 'partials/footer.html.twig' %}
      </footer>
    {% endblock %}

    {% block javascripts %}
      {% do assets.addJs('theme://js/bootstrap.min.js') %}
      {% do assets.addJs('theme://js/highlight.min.js') %}
      {{ assets.js()|raw }}

      <script>
        hljs.highlightAll();
      </script>
    {% endblock %}
  </body>
</html>
