{# Display taxonomy details #}
{% if page.taxonomy.category %}
  <section>
    <i class="fa-solid fa-folder"></i>
    {% for category in page.taxonomy.category %}
      <a
        href="{{ site.blog.route }}/category:{{ category }}"
        class="badge bg-success"
      >
        {{ category }}
      </a>
      {% if not loop.last %},{% endif %}
    {% endfor %}
  </section>
{% endif %}
{% if page.taxonomy.tag %}
  <section>
    <i class="fa-solid fa-hashtag"></i>
    {% for tag in page.taxonomy.tag %}
      <a
        href="{{ site.blog.route }}/tag:{{ tag }}"
        class="badge bg-success"
      >
        {{ tag }}
      </a>
      {% if not loop.last %},{% endif %}
    {% endfor %}
  </section>
{% endif %}
